
columns(columns)
  width: (gridColumnWidth * columns) + (gridGutterWidth * (columns - 1));
  display: block;
  float: left;
  margin: 0 (gridGutterWidth / 2)
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;